1.> Database is a organised collection of datas or information.
SQL is the collection of structred database where as NOSQL is the collection of unstructred database

2.>DDL stands for defination language. It is used to create or modify structres of objects in a database
(i)CREATE is used to create a database or table. eg: CREATE TABLE table_name
(ii)DROP is used to delete column or table. eg: DROP TABLE table_name
(iii)ALTER is used to add , delete or modify columns. eg: ALTER TABLE table_name
                                                          DROP column_name
(iv)TRUNCATE is used to delete all the datas in a table without deleting the table. eg: TRUNCATE TABLE table_name

3.>DML stands for Date Managing Language. It controlls access to database
(i)INSERT is used to insert table in a database.
   eg: INSERT INTO table_name(column_name,..) VALUES(value1,...)
(ii)UPDATE is used to update or modify the existing data. 
   eg: UPDATE table_name SET(column_name=value1,...)
(iii)DELETE is used to delete existing data.
   eg: DELETE FROM Table_Name WHERE condition

4.>The full form of DQL is Data Query Language. DQL statements are used for performing queries on the data within schema objects.
SELECT is used to fetch datas from 1 or more database. 
eg: SELECT column1, column2 FROM table1, table2 WHERE column2='value'

5.>A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

6.>import mysql.connector

   mydb = mysql.connector.connect(
     host="localhost",
     user="yourusername",
     password="yourpassword"
   )

print(mydb)

cursor() allows step by step processing of the result sets
execute() allows to execute the set wit the help of cursor()